<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>loginview.jsp</welcome-file>
    <welcome-file>idcheck.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>Signup.jsp</welcome-file>
    <welcome-file>SignupAf.jsp</welcome-file>
    <welcome-file>Suchidview.jsp</welcome-file>
    <welcome-file>SuchidAf.jsp</welcome-file>
    <welcome-file>Suchpwdview.jsp</welcome-file>
    <welcome-file>SuchpwdAf.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>ad_admin.jsp</welcome-file>
    <welcome-file>mainBbs.jsp</welcome-file>
    <welcome-file>mypage.jsp</welcome-file>
    <welcome-file>logout.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MemberControl</servlet-name>
    <servlet-class>control.MemberControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberControl</servlet-name>
    <url-pattern>/MemberControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelControl</servlet-name>
    <servlet-class>control.HotelControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelControl</servlet-name>
    <url-pattern>/HotelControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewControl</servlet-name>
    <servlet-class>control.ReviewControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewControl</servlet-name>
    <url-pattern>/ReviewControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReserveControl</servlet-name>
    <servlet-class>control.ReserveControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveControl</servlet-name>
    <url-pattern>/ReserveControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PdsControl</servlet-name>
    <servlet-class>control.PdsControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdsControl</servlet-name>
    <url-pattern>/PdsControl</url-pattern>
  </servlet-mapping>
</web-app>