@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background: #F6F6F6;
  font: 87.5%/1.5em sans-serif;
}

input {
	font-size: inherit;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 242px;
}

#login span {
	color: #676767;
	display: block;
	height: 48px;
	line-height: 48px;
	position: absolute;
	text-align: center;
	width: 36px;
}

#login input {
	border: none;
	height: 48px;
	outline: none;
}

#login input[type="text"] {
	background: #F6F6F6;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

#login input[type="password"] {
	background-color: #F6F6F6;
	border-top: 1px solid #828282;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 0 0 5px 5px;
	color: #363636;
	margin-bottom: 20px;
	padding-left: 36px;
	width: 204px;
}

#login input[type="submit"] {
	background: #fa8072;
	border: 1px solid #391515;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	width: 240px;
}

#login input[type="submit"]:hover {
	background: #f15958;
}